Django==1.3.7
Pillow==8.1.1
boto3==1.4.1
botocore==1.4.69
django-cuddlybuddly-storage-s3==3.2
django-cuddlybuddly-thumbnail==2.6
django-debug-toolbar==0.9.4
django-fancy-cache==0.8.0
docutils==0.12
futures==3.0.5
jmespath==0.9.0
psycopg2==2.6.2
python-dateutil==2.5.3
requests==2.20.0
s3transfer==0.1.9
selenium==3.0.1
six==1.10.0
sorl-thumbnail==11.12
wsgiref==0.1.2
