{% load humanize %}

{% if object_list %}
<table class="table1">
<caption style="margin-top: 0px;"><span>Lane County results (unofficial)<br /><a href="http://special.registerguard.com/ballot/results/full/" title="Complete results">Complete results</a></span></caption>
	{% for contest in object_list %}
		{% if contest.web_front %}
		<thead>
			<tr>
				<th colspan="5" scope="col">{{ contest.name }}{% if contest.explainer_text %} {{ contest.explainer_text }}{% endif %}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% if contest.statewide %}
				<th scope="col">&nbsp;</th>
				<th scope="col">Lane votes</th>
				<th scope="col">Lane %</th>
				<th scope="col">Oregon votes</th>
				<th scope="col">Oregon %</th>
				{% else %}
				<th scope="col">&nbsp;</th>
				<th scope="col" colspan="2">Lane votes</th>
				<th scope="col" colspan="2">Lane %</th>
				{% endif %}
			</tr>
		{% for candidate in contest.cand_yes_no_set.all %}
			{% ifnotequal candidate.name "write-in" %}
			{% ifnotequal candidate.name "over votes" %}
			{% ifnotequal candidate.name "under votes" %}
			<tr class="{% cycle 'odd' 'even' %}">
				{% if contest.statewide %}
				<td>
					{{ candidate.name }}{% if candidate.incumbent %}*{% endif %}
				</td>
				<td>
					{{ candidate.votes_local|intcomma }}
				</td>
				<td>
					{{ candidate.local_percent}}
				</td>
				<td>
					{{ candidate.votes_other|intcomma }}
				</td>
				<td>
					{{ candidate.other_percent }}
				</td>
				{% else %}
				<td>
					{{ candidate.name }}{% if candidate.incumbent %}*{% endif %}
				</td>
				<td colspan="2">
					{{ candidate.votes_local|intcomma }}
				</td>
				<td colspan="2">
					{{ candidate.local_percent}}
				</td>
				{% endif %}
			</tr>
			{% endifnotequal %}
			{% endifnotequal %}
			{% endifnotequal %}
		{% endfor %}
		</tbody>
		{% endif %}
	{% endfor %}
	</tr>
	</tbody>
	<tfoot>
		<tr class="odd ref">
			<th colspan="5" scope="col">* - incumbent</th>
		</tr>
	</tfoot>
</table>
{% endif %}